
<body class="body-welcomepage">
<br><br><br>
	<h1 class="welcome-header"><strong>Contacts</strong></h1>

<%#= link_to clients_path, class: "btn btn-default btn-lg" do %>
      <!-- <div><br>Companies</div>    -->
    <%# end %>

    <%#= link_to contacts_path, class: "btn btn-default btn-lg" do %>
      <!-- <div class = "welcome-picture-2"><br>Contacts</div>    -->
    <%# end %>
 </body>
		


