
<br><br><br><br>
<h1>C + C</h1>
<%= link_to clients_path, class: "btn btn-default btn-lg" do %>
      <div class = "welcome-picture-1"><br>Companies</div>   
    <% end %>

    <%= link_to contacts_path, class: "btn btn-default btn-lg" do %>
      <div class = "welcome-picture-2"><br>Contacts</div>   
    <% end %>

		


