<body class='about-page' id='about-page-opacity'>
	<center><p class='about-page-info'>Contacts serves as a place to keep track of your connections. Think of it as a database of everyone you have met in the past, those you have talked to recently and people you will meet in the future. By keeping track of these connections, you will be better positioned to further your professional career in the direction you would like to go.</p></center>
</body>