.newperson {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	height: 430px;
	width: 350px;
}

.thephoto {
	border-radius: 50px;
	border: 1px solid black;
	width: 500px;
}

.person {
	border-radius: 5px;
	border: 1px solid grey;
	padding: 5px;
	background: none;
	height: 35px;
	margin: 5px;
}

.photo {
	margin: 0 auto;
	text-align: center;
	margin: 5px;
	float: right;
}

.field {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 30px;
}

.actions {
	margin: 0 auto;
	text-align: center;
	border: none;
}

.list {
	list-style-type: none;
	border: 1px solid black;
	width: 700px;
	height: 200px;
	border-radius: 10px;
	margin: 20px;
	margin: 0 auto;
	padding: 10px;
}

.newcontact {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}