// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 {
	background-color: blue;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	padding: 85px 20px 40px 20px;
	margin-right: 200px;
}

.col-md-4  {
	background-color: blue;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	padding: 85px 20px 40px 20px;
	
}

