// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 {
	background-color: blue;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	padding: 85px 20px 40px 20px;
	margin-right: 200px;
}

.col-md-4  {
	background-color: blue;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	padding: 85px 20px 40px 20px;
	
}

.body-welcomepage {
	background: url(/assets/people.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.welcome-header {
	font-family: Open Sans;
	float:right;
	font-size: 50px;
	margin-right: 7%;
	color: white;
}



.welcome-picture-1 {
	background-image: url(/assets/city-picture.png);
	height: 350px;
	width: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	inline: block;
	float: right;
	margin-top: 8%;
	margin-right: 19%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	font-size: 80px;
	color: white;

}

.welcome-picture-2 {
	background-image: url(/assets/people.jpg);
	height: 350px;
	width: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	inline: block;
	float: right;
	margin-top: 8%;
	margin-right: 30%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	font-size: 80px;
	color: white;
}


